import('GenomicRanges')
import('GenomicAlignments')
import('GenomicFeatures')
import('DESeq')
import('Rsubread')
import('ggrepel')
import('ggplot2')
import('rtracklayer')
import('ensembldb')
import('tidyr')
importFrom(dplyr,group_by,mutate,n)
importFrom(repmis,source_data)
importFrom(VariantAnnotation, locateVariants, AllVariants, IntronVariants)
importFrom(Rsubread, featureCounts)
importFrom(SummarizedExperiment, assays)
importFrom(stats, fisher.test)
importFrom(stats, t.test)
importFrom("stats", "aggregate", "p.adjust")
importFrom(methods, is)
export(REF3UTR,PASEXP_3UTR,REFCDS,GENEXP_CDS,PASEXP_IPA,
		APAdiff,REF4PAS,PAS2GEF,APAVolcano,APABox,download_testbam)