import('GenomicRanges')
import('GenomicAlignments')
import('GenomicFeatures')
import('DESeq')
import('Rsubread')
importFrom(SummarizedExperiment, assays)
importFrom(stats, fisher.test)
importFrom(stats, t.test)
export(REF3UTR, PASEXP_3UTR,REFCDS,GENEXP_CDS,PASEXP_IPA,APAdiff)
#export(REF3UTR, PASEXP_3UTR,REFCDS,GENEXP_CDS,APAdiff)